/* Image Imports */


/* Font Imports */


/*
=======================
Variables
=======================
*/



/*
=======================
Set up
=======================
*/

/*
A tweak on the Eric Meyer reset block which you can find here https://meyerweb.com/eric/tools/css/reset/
*/

html,	body,	div,	span,	object,	iframe,
h1,		h2,		h3,		h4,		h5,		h6,
p,	blockquote,	pre,	abbr,	address,
cite,	code,	del,	dfn,	em,	img,
ins,	kbd,	q,	samp,	small,	strong,
sub,	sup,	var,	b,	i,	dl,
dt,	dd,	ol,	ul,	li,	fieldset,
form,	label,	legend,	table,	caption,
tbody,	tfoot,	thead,	tr,	th,	td,
article,	aside,	canvas,	details,
figcaption,	figure,	footer,	header,	hgroup,
menu,	nav,	section,	summary,
time,	mark,	audio,	video,	a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: black;
    text-decoration: none;
}
html {
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    overflow-y: hidden;
}

.wrapper {
    background-color: beige;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.item {
    transform: scale(1); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    flex-shrink: 0;
    font-size: 40px;
}

button {
    z-index: 1;
}

.num1 {
    background-image: url('https://images.unsplash.com/photo-1626586862309-8a847999b337?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1910&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}
.num2 {
    background-image: url('https://images.unsplash.com/photo-1434394354979-a235cd36269d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1151&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.num3 {
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.num4 {
    background-image: url('https://images.unsplash.com/photo-1494253188410-ff0cdea5499e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.num5 {
    background-image: url('https://images.unsplash.com/photo-1515705576963-95cad62945b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  padding: 1em;
  z-index: -1;
}

.text-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  /* padding: 1em; */
  text-align: center;
}

.text-wrapper h2, p {
  color: white;
  padding: .5em;
}
