/* Image Imports */


/* Font Imports */


/*
=======================
Variables
=======================
*/



/*
=======================
Set up
=======================
*/

/*
A tweak on the Eric Meyer reset block which you can find here https://meyerweb.com/eric/tools/css/reset/
*/

html,	body,	div,	span,	object,	iframe,
h1,		h2,		h3,		h4,		h5,		h6,
p,	blockquote,	pre,	abbr,	address,
cite,	code,	del,	dfn,	em,	img,
ins,	kbd,	q,	samp,	small,	strong,
sub,	sup,	var,	b,	i,	dl,
dt,	dd,	ol,	ul,	li,	fieldset,
form,	label,	legend,	table,	caption,
tbody,	tfoot,	thead,	tr,	th,	td,
article,	aside,	canvas,	details,
figcaption,	figure,	footer,	header,	hgroup,
menu,	nav,	section,	summary,
time,	mark,	audio,	video,	a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: black;
    text-decoration: none;
}
html {
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    overflow-y: hidden;
}

.wrapper {
    background-color: beige;
    /* transform: scale(1); */
    /* transform: rotate(90deg); */
    overflow-y: hidden;
    /* overflow-x: scroll; */
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.item {
    background-color: lightskyblue;
    outline: 2px solid black;
    transform: scale(1); 
    /* transform: rotate(-90deg);
    /* margin: 0; */
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

button {
    z-index: 1;
}

.num1 {
    background-image: url('images/jackson-hendry-eodA_8CTOFo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.num2 {
    background-image: url('images/kazuend-2KXEb_8G5vo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.num3 {
    background-image: url('images/manuel-will-gd3t5Dtbwkw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.num4 {
    background-image: url('images/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.num5 {
    background-image: url('images/wil-stewart-T26KCgCPsCI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;
}



/* .item+.item {
    margin: 1em 0;
} */

/* .item:last-child {
    margin: 0;
} */

/*
=======================
Helper Classes
=======================
*/

/*
=======================
Typography
=======================
*/


/*
=======================
Layout
=======================
*/

/*
=======================
Media Queries
=======================
*/
